@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image"><img src="images/avatar.png" alt="" /></span>
            <h1 id="title">FABRIC</h1>
            <p>Administrator<br>Dashboard</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#top" id="top-link"><span class="icon fa-flask">Dashboard</span></a></li>
                <li><a href="#environment" id="register-link"><span class="icon fa-desktop">Environments</span></a></li>
                <li><a href="#users" id="users-link"><span class="icon fa-users">Users</span></a></li>
                <li><a href="#configuration" id="configuration-link"><span class="icon fa-cogs">Requests</span></a></li>
                <li><a href="#modify " id="requests-link"><span class="icon fa-plug">Add Environment</span></a></li>
                <li><a href="#account " id="requests-link"><span class="icon fa-user-plus">Add User Account</span></a></li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="index.html" class="icon fa-home"><span class="label">Home</span></a></li>
            <li><a href="dashboard-pi.html" class="icon fa-user"><span class="label">PI Dashboard</span></a></li>
            <li><a href="dashboard-admin.html" class="icon fa-cogs"><span class="label">Admin Page</span></a></li>
        </ul>

    </div>

</div>