 <!-- Environment -->
<section id="environment" class="two">
    <div id='registration' class="container">

        <header>
            <h2>Project Environments</h2>
        </header>
        <article id="Environments" class="item">
            <table>
                <th colspan="5">Environments</th>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td><strong>Environment Owner:</strong></td>
                    <td><strong>Network Range:</strong></td>
                    <td><strong>Active:</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fortran Environment</td>
                    <td>sckozemchak</td>
                    <td>10.10.1.10-15/24</td>
                    <td><a href="#" class="icon fa-check"></a></td>
                    <td><a href="#environment" class="button opener scrolly">view</a></td>
                </tr>
                <tr>
                    <td>Project C</td>
                    <td>jusrea</td>
                    <td>10.10.1.20-21/24</td>
                    <td><a href="#" class="icon fa-ban"></a></td>
                    <td><a href="#environment" class="button opener scrolly">view</a></td>
                </tr>
                <tr>
                    <td>BASIC Environment</td>
                    <td>mbrown</td>
                    <td>10.20.3.40-41/24</td>
                    <td><a href="#" class="icon fa-check"></a></td>
                    <td><a href="#environment" class="button opener scrolly">view</a></td>
                </tr>
            </table>
        </article>



    </div>

</section>