<partial name="../Admin/AdminMenu" />

<div id="main">
    <partial name="../Admin/Main" />
    <partial name="../Admin/Environments" />
    <partial name="../Admin/Users" />
    <partial name="../Admin/Requests" />
    <partial name="../Request/NewEnvironment" />
    <partial name="../Request/NewUser" />
</div>