<!-- Environment Requests -->
<section id="configuration" class="four">
    <div class="container">
        <partial name="../Request/EnvironmentRequests" />
        <partial name="../Request/UserRequests" />
    </div>
</section>
