<!-- Users -->
<section id="users" class="three">
    <div class="container">
        <article>
            <header>
                <h2>Users</h2>
                <p>View FABRIC Users</p>
            </header>
            \
            <table>
                <th colspan="5">User Accounts</th>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td><strong>Username:</strong></td>
                    <td>Project Environment</td>
                    <td><strong>Role:</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stefan C Kozemchak</td>
                    <td>sckozemchak</td>
                    <td>Fortran Environment</td>
                    <td>Developer</td>
                    <td><a href="#users" class="button opener3 scrolly">view</a></td>
                </tr>
                <tr>
                    <td>Karen C Sikorski</td>
                    <td>jusrea</td>
                    <td>BASIC Environment</td>
                    <td>Analyst</td>
                    <td><a href="#users" class="button opener3 scrolly">view</a></td>
                </tr>
                <tr>
                    <td>Michael Brown</td>
                    <td>mbrown</td>
                    <td>Project C </td>
                    <td>Developer</td>
                    <td><a href="#users" class="button opener3 scrolly">view</a></td>
                </tr>
            </table>
        </article>



        <article id="project" class="item dialog" title="View Environment">
            <table>
                <th colspan="2">Fortran Environment</th>
                <tr>
                    <td><strong>Description:</strong></td>
                    <td>This project is to investigate the uses of Fortran in coding today.</td>
                </tr>
                <tr>
                    <td><strong>Total Storage:</strong></td>
                    <td>250 Gigabytes</td>
                </tr>
                <tr>
                    <td><strong>VM vCPUs Size:</strong></td>
                    <td>16</td>
                </tr>
                <tr>
                    <td><strong>VM Memory GiB:</strong></td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><strong>Virtual Machines:</strong></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><strong>Software:</strong></td>
                    <td>
                        <ul>
                            <li>Galaxy</li>
                            <li>Microsoft Excel</li>
                            <li>SQL Management Studio</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Network Range:</strong></td>
                    <td>
                        10.10.1.10-15/24
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>VPN IP:</strong></td>
                    <td>
                        10.10.225.54/28

                    </td>
                </tr>
                <tr>
                    <td><strong>Databases:</strong></td>
                    <td>
                        //SQL/FORTRAN:9000
                    </td>
                </tr>

                <th colspan="2">Role Configurations</th>
                <tr>
                    <td><strong>Audit</strong></td>
                    <td>
                        Limited
                    </td>
                <tr>
                    <td><strong>Developer</strong></td>
                    <td>
                        Full
                    </td>
                <tr>
                    <td><strong>Analyst</strong></td>
                    <td>
                        Basic
                    </td>
                </tr>
                <tr>
                    <td><a href="#" class="button">Edit</a></td>
                    <td><a href="#" class="button">Delete</a></td>
                    <td></td>
                </tr>
            </table>


        </article>


        <article id="account" class="item dialog3" title="View Account">
            <table>
                <th colspan="2">User Account View</th>
                <tr>
                    <td><strong>Project Enviornment:</strong></td>
                    <td>Fortran Enviornment</td>
                </tr>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>Stefan C Kozemchak</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>chriskozemchak@gwu.edu</td>
                </tr>
                <tr>
                    <td><strong>Phone:</strong></td>
                    <td>703.937.7268</td>
                </tr>
                <tr>
                    <td><strong>Username:</strong></td>
                    <td>sckozemchak</td>
                </tr>
                <tr>
                    <td><strong>Role:</strong></td>
                    <td>Developer</td>
                </tr>
                <tr>
                    <td><strong>Virtual Machine Configuration:</strong></td>
                    <td>
                        VM_DEV
                    </td>
                </tr>
                <tr>
                    <td><strong>VM IP:</strong></td>
                    <td>
                        10.10.1.11/24
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><a href="#" class="button">Edit</a></td>
                    <td><a href="#" class="button">Delete</a></td>
                </tr>
            </table>


        </article>

        <article id="request" class="item dialog2" title="View Request">
            <table>
                <th colspan="3">Account Request View</th>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>William Burke</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>wburke@gwu.edu</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Phone:</strong></td>
                    <td>703.555.4444</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Username:</strong></td>
                    <td>wburke</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>CTSA Institute:</strong></td>
                    <td>CTSA at Case Western University</td>
                    <td><a href="#" class="button">Verify</a></td>
                </tr>
                <tr>
                    <td><strong>Assign Role:</strong></td>
                    <td>
                        <select>
                            <option>Analyst</option>
                            <option>Developer</option>
                            <option>Audit</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Assign VM:</strong></td>
                    <td>
                        <input type="text" placeholder="10.10.1.12/24">

                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#" class="button">Approve</a></td>
                    <td><a href="#" class="button">Deny</a></td>
                    <td></td>
                </tr>
            </table>


        </article>


        
    </div>
</section>