
@{
    ViewData["Title"] = "Home Page";
}

<!-- Intro -->
<section id="top" class="one dark cover">
    <div class="container">

        <header class="">
            <h2 class="alt shadow">
                <strong>Error!</strong>.
            </h2>
            <p>
                There is an Issue With Your Request.
            </p>
        </header>

        <footer>
            <a href="#register" class="button scrolly">Contact Help</a>
        </footer>

    </div>
</section>