
@{
    ViewData["Title"] = "Home Page";
}

<!-- Intro -->
<section id="top" class="one dark cover">
    <div class="container">

        <header class="">
            <h2 class="alt shadow">
                <strong>Success!</strong>.
            </h2>
            <p>
                Your Request for Access has been successfully authenticated.
            </p>
        </header>

        <footer>
            <a href="#register" class="button scrolly">Access Instructions</a>
        </footer>

    </div>
</section>
