@{
    ViewData["Title"] = "Home Page";
}

<div>Hello</div>
<!-- Intro -->
<section id="top" class="one dark cover">
    <div class="container">

        <header class="">
            <h2 class="alt shadow">
                <strong> Welcome to Internal Portal of FABRIC </strong>.
            </h2>
            <p>
                A Research As A Service Platform
            </p>
        </header>

        <footer>
            <a href="#requests" class="button scrolly">Request Decision</a>
        </footer>

    </div>
</section>

<partial name="../Admin/Index" />
<partial name="../PrincipalInvestigator/Index" />
<partial name="../Requests/Index" />
