
@model RaaSP_Portal_External.DataAccess.Models.Request.Environment




<div id="investigator" style="display: none" class="row col-12">
    <div class="col-12">
        @Html.EditorFor(Model => Model.Name)
        <input id="projectName" type="text" name="projectName" placeholder="Name of Research Project" />
    </div>
    <div class="col-12">
        @Html.EditorFor(Model => Model.Type)
        <select id="projecType" name="projectType">
            <option>Select Project Type</option>
            <option>Geonomics</option>
            <option>Mathematics</option>
            <option>Clinical</option>
            <option>Other</option>

        </select>
    </div>
    <div class="col-12">
        @Html.EditorFor(Model => Model.Description)
        <textarea name="message" placeholder="Research Project Description"></textarea>
    </div>
</div>