@using Microsoft.AspNetCore.Http.Features

<!-- Contact -->
<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>Contact & Help</h2>
        </header>

        <p>
            If you are having issues with your account or wish to reach our support staff please fill out the information below.
        </p>

        <form method="post" action="#">
            <div class="row">
                <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
                <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
                <div class="col-12">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <div class="col-12">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
        </form>

    </div>
</section>