@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Configuration -->
<section id="configuration" class="four">
    <div class="container">

        <header>
            <h2>Environment Configurations</h2>
        </header>

        <p>
            Assign Environment Configurations to Specific Roles.
        </p>
        <article>
            <table>
                <th colspan="2">Configurations</th>
                <tr>
                    <td>Audit</td>
                    <td>
                        <select>
                            <option>Basic</option>
                            <option>Full</option>
                            <option selected>Limited</option>
                        </select>
                    </td>
                <tr>
                    <td>Developer</td>
                    <td>
                        <select>
                            <option>Basic</option>
                            <option selected>Full</option>
                            <option>Limited</option>
                        </select>
                    </td>
                <tr>
                    <td>Analyst</td>
                    <td>
                        <select>
                            <option selected>Basic</option>
                            <option>Full</option>
                            <option>Limited</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="col-12">
                <input type="submit" value="Save" />
            </div>
        </article>
    </div>
</section>