@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Environment -->
<section id="environment" class="two">
    <div id='registration' class="container">

        <header>
            <h2>Project Environment</h2>
        </header>

        <article class="item">
            <table>
                <th colspan="2">Fortran Environment</th>
                <tr>
                    <td><strong>Description:</strong></td>
                    <td>This project is to investigate the uses of Fortran in coding today.</td>
                </tr>
                <tr>
                    <td><strong>Total Storage:</strong></td>
                    <td>250 Gigabytes</td>
                </tr>
                <tr>
                    <td><strong>VM vCPUs Size:</strong></td>
                    <td>16</td>
                </tr>
                <tr>
                    <td><strong>VM Memory GiB:</strong></td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><strong>Virtual Machines:</strong></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><strong>Software:</strong></td>
                    <td>
                        <ul>
                            <li>Galaxy</li>
                            <li>Microsoft Excel</li>
                            <li>SQL Management Studio</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Network Range:</strong></td>
                    <td>
                        10.10.1.10-15/24
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>VPN IP:</strong></td>
                    <td>
                        10.10.225.54/28

                    </td>
                </tr>
                <tr>
                    <td><strong>Databases:</strong></td>
                    <td>
                        //SQL/FORTRAN:9000
                    </td>
                </tr>
            </table>


        </article>



    </div>

</section>
