@using Microsoft.AspNetCore.Http.Features

<!--Principal Investigator-->
<section id="requests" class="one">
    <div class="container">

        <header>
            <h2>Welcome to PI dashboard</h2>
        </header>

        <partial name="../PrincipalInvestigator/PiMenu" />

        <div id="main">
            <partial name="../PrincipalInvestigator/Main" />
            <partial name="../PrincipalInvestigator/Environment" />
            <partial name="../PrincipalInvestigator/Users" />
            <partial name="../PrincipalInvestigator/Configuration" />
            <partial name="../Request/NewEnvironment" />

        </div>
    </div>
</section>