<partial name="../PrincipalInvestigator/PiMenu" />

<div id="main">
    <partial name="../PrincipalInvestigator/Main" />
    <partial name="../PrincipalInvestigator/Environment" />
    <partial name="../PrincipalInvestigator/Users" />
    <partial name="../PrincipalInvestigator/Configuration" />
    <partial name="../Request/NewEnvironment" />

</div>