@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Main -->
<section id="top" class="five light splash">
    <div class="container">
        <header class="">
            <h2 class="alt shadow">
                <strong>Principal Investigator Dashboard</strong>.
            </h2>
        </header>
        <article class="item">
            Notifications Panel TBD
        </article>
    </div>
</section>
