

@{
    ViewData["Title"] = "Home Page";
}

<!-- Intro -->
<section id="top" class="one dark cover">
    <div class="container">

        <header class="">
            <h2 class="alt shadow">
                <strong>Welcome to FABRIC</strong>.
            </h2>
            <p>
                A Research As A Service Platform
            </p>
        </header>

        <footer>
            <a href="#register" class="button scrolly">Register</a>
        </footer>

    </div>
</section>

<partial name="../About/Index" />
<partial name="../Register/Index" />
<partial name="../Contact/Index" />



