        <header>
            <h2>Environment Requests</h2>
        </header>

        <p>
            Approve Project Environment Configuration Requests.
        </p>
        <article id="projects" class="item">
            <table>
                <th colspan="5">Project Environment Requests</th>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td><strong>Description:</strong></td>
                    <td>Institute:</td>
                    <td>Type:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Some Project Environment</td>
                    <td>A research project to make money.</td>
                    <td>CTSA at Case Western University</td>
                    <td>New Request</td>
                    <td><a href="#projects" class="button opener4 scrolly">validate</a></td>
                </tr>
                <tr>
                    <td>Fortran Environment</td>
                    <td>
                        This project is to investigate the uses of Fortran in coding today.
                    </td>
                    <td>Child CTSA Institute</td>
                    <td>Change Request</td>
                    <td><a href="#projects" class="button opener4 scrolly">validate</a></td>
                </tr>

            </table>
        </article>
