<div class="col-6 col-12-mobile"><input type="text" name="first name" placeholder="First Name" /></div>
<div class="col-6 col-12-mobile"><input type="text" name="last email" placeholder="Last Name" /></div>
<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
<div class="col-6 col-12-mobile"><input type="text" name="phone" placeholder="Phone" /></div>
<div class="col-6 col-12-mobile"><input type="text" name="username" placeholder="Username" /></div>
<div class="col-6 col-12-mobile ui-widget"><input id="institute" class="ctsa" type="text" name="project" placeholder="CTSA Institute" /></div>