<header>
    <h2> Account Requests</h2>
</header>

<p>
    Approve User Account Requests.
</p>
<!-- Requests -->
<article id="requests" class="item">
    <table>
        <th colspan="3">User Account Requests</th>
        <tr>
            <td><strong>Name:</strong></td>
            <td><strong>CTSA Institute:</strong></td>

            <td></td>
        </tr>
        <tr>
            <td>William Burke</td>
            <td>CTSA at Case Western University</td>

            <td><a href="#requests" class="button opener2 scrolly">validate</a></td>
        </tr>
        <tr>
            <td>Terrence Lewis</td>
            <td>Mayo Center for Translational Science Activities</td>

            <td><a href="#requests" class="button opener2 scrolly">validate</a></td>
        </tr>
        <tr>
            <td>Terry Stowers</td>
            <td>NYU - HHC Clinical and Translational Science Institute</td>

            <td><a href="#requests" class="button opener2 scrolly">validate</a></td>
        </tr>
    </table>
</article>